@{
    ViewData["Title"] = "Crear Cuenta";
}
<div class="register-container" style="min-width: 100vw;">
    <div class="register-box">
        <h2>BIENVENIDO/A A FOCUSING!</h2>
        <form action='@Url.Action("AgregarUsuario")'>
            <input type="text" name="Nombre" placeholder="Nombre" required>
            <input type="text" name="Apellido" placeholder="Apellido" required>
            <input type="password" name="Contraseña" placeholder="Contraseña" required>
            <input type="email" name="Mail" placeholder="Correo electrónico" required>
            <input type="number" name="Edad" placeholder="Edad" required>
            <button type="submit" class="submit-btn">Siguiente</button>
        </form>
    </div>
</div>