@{
    ViewData["Title"] = "Inicio Sesion";
}
 <div class="login-container" style="min-width: 100vw;">
        <div class="login-box">
            <div class="left-side">
                <h2>INGRESAR</h2>
                <form method="POST" action="@Url.Action("InicioSesion")">
                    <input type="text" placeholder="Mail" name="Mail" required>
                    <input type="password" placeholder="Contraseña" name="Contraseña" required>
                    <button type="submit">Ingresar</button>
                    <a href="#" class="forgot-password">¿Olvidaste la contraseña?</a>
                     <a href='@Url.Action("CrearCuenta")' class="create-account">CREAR CUENTA</a>
                </form>
            </div>
            <div class="right-side">
                <h2>BIENVENIDO A FOCUSING!</h2>
                <p>¿Te cuesta ponerte a estudiar? Te ayudamos a desarrollar la concentración a la hora de estudiar para lograr tus metas.</p>
            </div>
        </div>
    </div> 