/* Estilos generales */
html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url('/img/ola.jpg'); /* Imagen de fondo */
  background-size: cover; /* Cubrir toda la pantalla */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat;
}

/* Contenedor principal del login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Caja del login (centrado y estilizado) */
.login-box {
  display: flex;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Parte izquierda (formulario) */
.left-side {
  width: 50%;
  background-color: #4A90E2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #000; /* Línea divisoria */
}

.left-side h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
}

.left-side input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.left-side button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  color: #4A90E2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.left-side button:hover {
  background-color: #e0e0e0;
}

.forgot-password {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.create-account {
  margin-top: 20px;
  background-color: #fff;
  color: #4A90E2;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

/* Parte derecha (descripción o logo) */
.right-side {
  width: 50%;
  background-color: #4A90E2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #fff;
}

.right-side h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.right-side p {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

/* Footer */
footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Estilos adicionales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

